.navbar{
     display: flex;
      justify-content: space-between;
  align-items: center;
}
.homepage__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage__message{
    display: flex;
    font-size: 75px;
    align-items: center;
    justify-content: center;
}

.homepage__links{
    display: flex;
    justify-content: space-evenly;
}

.homepage__links > .nav-item{
    padding-right: 10px;
    text-decoration: none;
}